body{
	background-color: white; 
}


h1 , h2{
	font-family: 'Trebuchet MS', sans-serif;
	color: #333432;
	padding-left: 10px;
}

p{
	font-family: 'Trebuchet MS', sans-serif;
	color: white;
	padding-left: 10px;
}

a{
	font-family: 'Trebuchet MS', sans-serif;
	color: black;
}

ul{
	font-family: 'Trebuchet MS', sans-serif;
	color: white;
}

/* ---------------- NAVBAR ------------------*/

nav{
	height: 65px;
	margin-bottom: 10px;
	background-color: white;
}

#nav-container{
	display: flex;
	justify-content: flex-start;
	justify-content: space-between;

}

#logo-container{
	text-align: center;
	width: 15%;
}


#logo-container img{	
	width: 125px;
	height: 50px;
	margin: 5px;
}

#buttons-container{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	justify-content: space-around;
	width: 40%;
}

.buttons{
	text-align: center;
	width: 15%;
	padding: 10px;
	background-color: #F0F0F0;
	border-radius: 30px;
}


/* ---------------- ABOUT ------------------*/

#about-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: auto;

}

#about-photo{
	text-align: center;
}

#about-photo img{
	width: 300px;
	height: 300px;
	border-radius: 150px;
	margin: 5px;
	
}

#about-info{
	width: 50%;
	margin: 5px;
	justify-content: center;

	background-color: white;
}

#about h1,h2,p{
	color: black;
	text-align: center;
}


}



span{
/*	border: 2px solid black;*/
}

section{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 1%;
	background-color: #333432;
}


#research{
	height: 500px;
	border-radius: 5px;
	margin: 5px;
}

.research-elements{
	margin: 5px;
	margin-bottom: 20px;
}

h1.research-elements{
	color: white;
}

#teaching{
	border: 3px solid black;
	height: 300px;
}

#other_activities{
	background-color: red;
	height: 300px;
}








