body{
	background-color: #E0E1E0; 
}


h1 , h2{
	font-family: 'Trebuchet MS', sans-serif;
	color: #333432;
	padding-left: 10px;
}

p{
	font-family: 'Trebuchet MS', sans-serif;
	color: white;
	padding-left: 10px;
}

ul{
	font-family: 'Trebuchet MS', sans-serif;
	color: white;
}



nav{
	height: 65px;
	background-color: #333432;
}

#nav-container{
	display: flex;
	justify-content: flex-start;
	justify-content: space-between;

}

#logo-container{
	border: 3px solid brown;
	width: 10%;
}

#buttons-container{
	display: flex;
	border: 2px solid brown;
	justify-content: flex-end;
	align-items: center;
	justify-content: space-around;
	width: 60%;
}



span{
/*	border: 2px solid black;*/
}

section{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 1%;
	background-color: #333432;
}

img{
	width: 70%;
	height: 70%;
	padding: 30px;
}

#research{
	height: 500px;
}

.research-elements{
	margin: 5px;
	margin-bottom: 20px;
}

h1.research-elements{
	color: white;
}

#teaching{
	border: 3px solid black;
	height: 300px;
}

#other_activities{
	background-color: red;
	height: 300px;
}


#flex-container{
	display: flex;
	height: 300px;
}

#flex-item-sx{
	background-color: white;
	width: 10%;
	flex-grow: 1;
	margin: 5px;
}

#flex-item-dx{
	background-color: white;
	width: 60%;
	flex-grow: 1;
	margin: 5px;
}

p.info-elements{
	color: black;
}





